.form-popup {
    position: fixed;
    top: 35%;
    left: 85%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    background-color: lightcyan;
    z-index: 1000;
  }
  
  .form-container {
    position: fixed;
    top: 0;
    left: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  