<section style="background-color: lightblue" class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-6">
                        <div class="about-text go-to">
                            <h3 style="color:darkblue">About Me</h3>
                            <h6 class="theme-color lead">{{userinfo[8]}}</h6>
                            <p style="color:black">{{userinfo[9]}}</p>
                            <div class="row about-list">
                                <div class="col-md-6">
                                    <div class="media">
                                        <label style="color:darkblue">Name</label>
                                        <p style="color:black">{{userinfo.emp_name}}</p>
                                    </div>
                                    <div class="media">
                                        <label style="color:darkblue">Username</label>
                                        <p style="color:black">{{userinfo.emp_username}}</p>
                                    </div>
                                    <div class="media">
                                        <label style="color:darkblue">Email</label>
                                        <p style="color:black">{{userinfo.emp_email}}</p>
                                    </div>
                                    <div class="media">
                                        <label style="color:darkblue">Phone</label>
                                        <p style="color:black">{{userinfo.emp_phone}}</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="media">
                                        <label style="color:darkblue">DOJ</label>
                                        <p style="color:black">{{userinfo.emp_doj}}</p>
                                    </div>
                                    <div class="media">
                                        <label style="color:darkblue">Role</label>
                                        <p style="color:black">{{userinfo.emp_role}}</p>
                                    </div>
                                    <div class="media">
                                        <label style="color:darkblue">Dept</label>
                                        <p style="color:black">{{userinfo.emp_department}}</p>
                                    </div>
                                    <div class="media">
                                        <label style="color:darkblue">Project</label>
                                        <p style="color:black">{{userinfo.emp_project}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-avatar">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt="">
                        </div>
                    </div>
                </div>
                <br>
                <div class="counter">
                    <div class="row">
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <h6 class="count h2" data-to="500" data-speed="500">500</h6>
                                <p style="color:black" class="dark-color font-w-600">Happy Clients</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <h6 class="count h2" data-to="150" data-speed="150">15</h6>
                                <p style="color:black" class=" dark-color font-w-600">Project Completed</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <h6 class="count h2" data-to="850" data-speed="850">250</h6>
                                <p style="color:black" class=" dark-color font-w-600">Leads Generated</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <h6 class="count h2" data-to="190" data-speed="190">190</h6>
                                <p style="color:black" class=" dark-color font-w-600">SSDs solved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
